# Ignore a scrap notebook used for local testing
scrap.ipynb
plotSEDs_scrap.ipynb
MAFtesting.ipynb
PSFSizePlot.ipynb
zenith_range_scrap.ipynb
dp1_test.ipynb
APIaccess.ipynb
APIaccess.py
dNdR.nb

# Ignore a folder
# /data/large_files/
/scrap/
/.ipynb_checkpoints/
/COSMOS_SED/
/__pycache__/

# Ignore all .zip files
*.db
*.zip
PSF_traces*.txt
*scrap*
scrap.png
*.DS_Store

# Ignore all files in a specific path
# outputs/temp_results/