# Ignore a scrap notebook used for local testing
scrap.ipynb
plotSEDs_scrap.ipynb
MAFtesting.ipynb
PSFSizePlot.ipynb
zenith_range_scrap.ipynb
dp1_test.ipynb
APIaccess.ipynb
APIaccess.py
dNdR.nb
scrap.png
scrap_SEDanalysis.ipynb

# Ignore a folder
# /data/large_files/
/scrap/
/.ipynb_checkpoints/
/COSMOS_SED/
/Meeting_Notes/
/__pycache__/
git
# Ignore all .zip files
*.db
*.zip
PSF_traces*.txt
*scrap*.ipynb

# Ignore all files in a specific path
# outputs/temp_results/